<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userId</key>
	<integer>1</integer>
	<key>requestId</key>
	<integer>2</integer>
	<key>fileName</key>
	<string>image1Mb.jpg</string>
	<key>documentTypeCode</key>
	<string>EL3DGO</string>
	<key>requestType</key>
	<string>MobileLyncChecker</string>
	<key>auditEventDescription</key>
	<string>Document ( image1Mb.jpg )  Uploaded</string>
	<key>entityDescription</key>
	<string>Mobile Lync Checker</string>
	<key>userName</key>
	<string>undefined undefined undefined</string>
</dict>
</plist>
